{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast_Organ_Transfer</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="mainpage">
        <div class="header">
            <h1>FAST ORGAN TRANSFER</h1>
        </div>
        <div class="graphinfo">
            <div class="leftgrapgingo">
                <div class="table">
                    <table style="border: 1px solid black;">
                        <tr>
                        <th>uniqueID</th>
                        </tr>
                        {% for uniqueId in uniqueIDlist %}
                        <tr>
                        <td>{{uniqueId}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table style="border: 1px solid black;">
                        <tr>
                        <th>Hospital Name</th>
                        </tr>
                        {% for hospital in hospitalList %}
                        <tr>
                        <td>{{hospital}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <form class="form" method="GET" action="{% url 'getInfo' %}">
                    <!-- <input type="text" placeholder="Unique ID" name="HospitalID" id="Hospital" /> -->
                    <select name="HospitalID" id="HospitalID">
                        {% for hospital in uniqueIDlist %}
                        <option>{{hospital}}</option>
                        {% endfor %}
                    </select>
                    <select name="organ" id="organ">
                        {% for organ in organlist %}
                        <option>{{organ}}</option>
                        {% endfor %}
                    </select>
                    <!-- <input type="text" placeholder="Organ request" name="organ" id="organ" /> -->
                    <button type="text" class="submit">Search</button>
                   <!-- after submit -->
                </form>
                {% if status %}
                <h3>Server received request from {{sourceId}} for {{organreq}}</h3><hr>
                <div class="sourceInfo">
                    <h3>Unique ID: {{sourceId}}</h3>
                    <h3>Hospital Name: {{srcHospitalName}}</h3>
                    <h3>Address: {{srcHospitalAddress}}</h3>
                    <h3>Request: {{organreq}}</h3>
                </div>
                <div class="destninationInfo">
                    <h3>Unique ID: {{distinationId}}</h3>
                    <h3>Hospital Name: {{destHospitalName}}</h3>
                    <h3>Address: {{destHospitalAddress}}</h3>
                    <h3>Distance: {{closestdistance}}</h3>
                </div>
                {% endif %}
            </div>
            <div class="rightgraphinfo">
                <iframe src="{{googlemaplink}}" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <table style="border: 1px solid black;">
            <tr>
            <th>uniqueID</th>
            </tr>
            {% for uniqueId in uniqueIDlist %}
            <tr>
            <td>{{uniqueId}}</td>
            </tr>
            {% endfor %}
        </table>
        <table style="border: 1px solid black;">
            <tr>
            <th>Hospital Name</th>
            </tr>
            {% for hospital in hospitalList %}
            <tr>
            <td>{{hospital}}</td>
            </tr>
            {% endfor %}
        </table>
        
        <div class="footer">
            <h3>Reserve all rights @ <a href="https://github.com/GautamBharte/Organ-Fast-Transplant.git">DSA miniproject</a></h3>
        </div>
    </div>
</body>
</html>